{% extends 'base.html.twig' %}

{% block title %}Page 404 | BioLeet.com
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <style>
        .error-container {
            text-align: center;
            margin-top: 100px;
        }
        .error-container h1 {
            font-size: 100px;
        }
        .error-container p {
            font-size: 20px;
            margin-top: 20px;
        }
        .error-container a {
            margin-top: 30px;
        }
    </style>
{% endblock %}


{% block body %}
	<div class="container mx-auto mt-4">
         <div class="container error-container">
        <h1><i class="fas fa-exclamation-circle"></i> 404</h1>
        <p>Page not found</p>
        <a href="{{ path('home.index') }}" class="btn btn-primary"><i class="fas fa-home"></i> Go to Homepage</a>
    </div>
    </div>
{% endblock %}
