{% extends 'base.html.twig' %}

{% block title %}Page 404 | BioLeet.com
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mx-auto mt-4">
        <i class="fa-solid circle-exclamation fa-5x text-orange"></i>
        <h1 class="text-orange text-4xl mt-4">Error Incurred</h1>
        <p class="text-white text-lg mt-2">Seems an error has incurred.</p>
        <a href="{{ path('home.index') }}" class="text-orange mt-4 text-lg underline">Return to homepage</a>
    </div>
{% endblock %}
