{% extends 'base.html.twig' %}

{% block title %}TERMS OF SERVICE | BioLeet.com
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block body %}
	<div>
		<section class="py-5">
			<div class="container px-5 my-5 px-5">
				<div class="text-center text-orange mb-5">
					<h2 class="fw-bolder">TERMS OF SERVICE</h2>
				</div>
				<div class="row gx-5 justify-content-center">
					<div class="col-lg-10">
						<p>Last updated: 05 July, 2023</p>

						<p>Please read these Terms of Service ("Terms") carefully before using the Bioleet website (the "Service") operated by Bioleet ("us," "we," or "our").</p>

						<h2>1. Acceptance of Terms</h2>

						<p>By accessing or using the Service, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you may not access or use the Service.</p>

						<h2>2. Description of Service</h2>

						<p>The Service provided by Bioleet allows users to create user profiles, create and join teams, access additional features through a subscription service, and engage in other related activities.</p>

						<h2>3. User Responsibilities</h2>

						<h3>3.1. Account Registration</h3>

						<p>To access certain features of the Service, you may be required to create an account. You are responsible for providing accurate and up-to-date information during the registration process. You are also responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>

						<h3>3.2. Prohibited Activities</h3>

						<p>You agree not to engage in any of the following prohibited activities while using the Service:</p>

						<ul>
							<li>Violating any applicable laws or regulations</li>
							<li>Infringing upon the intellectual property rights of others</li>
							<li>Uploading or transmitting any harmful or malicious content</li>
							<li>Engaging in any fraudulent, deceptive, or misleading behavior</li>
							<li>Interfering with the proper functioning of the Service or disrupting the experience of other users</li>
						</ul>

						<h2>4. Subscription Service</h2>

						<h3>4.1. Subscription Plans</h3>

						<p>Bioleet offers a subscription service that provides access to additional features and benefits. The details of each subscription plan, including pricing, duration, and available features, are provided on the Service. By subscribing to a plan, you agree to pay the applicable fees and comply with the terms associated with that plan.</p>

						<h3>4.2. Payment and Billing</h3>

						<p>Payments for the subscription service will be processed through the designated payment provider. By providing your payment information, you authorize us to charge the specified fees on a recurring basis according to your chosen subscription plan. You are responsible for keeping your payment information up to date and ensuring sufficient funds are available.</p>

						<h3>4.3. Cancellation and Refunds</h3>

						<p>You may cancel your subscription at any time by contacting our customer support or through any other provided means of communication. Please note that fees already paid are non-refundable, and cancellation will take effect at the end of the current billing period.</p>

						<h2>5. Intellectual Property Rights</h2>

						<p>The Service and its original content, features, and functionality are owned by Bioleet and are protected by intellectual property laws. You may not modify, reproduce, distribute, or create derivative works based on the Service without our prior written permission.</p>

						<h2>6. Limitation of Liability</h2>

						<p>To the maximum extent permitted by law, Bioleet and its affiliates, directors, officers, employees, agents, and suppliers shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with the use of the Service.</p>

						<h2>7. Indemnification</h2>

						<p>You agree to indemnify and hold Bioleet and its affiliates, directors, officers, employees, agents, and suppliers harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of these Terms or your violation of any applicable laws or regulations.</p>

						<h2>8. Modifications to the Service</h2>

						<p>We reserve the right to modify or discontinue the Service, temporarily or permanently, with or without notice. We shall not be liable to you or any third party for any modification, suspension, or discontinuation of the Service.</p>

						<h2>9. Governing Law and Jurisdiction</h2>

						<p>These Terms shall be governed by and construed in accordance with the laws of Tunisia, without regard to its conflict of laws principles. Any dispute arising out of or in connection with these Terms shall be subject to the exclusive jurisdiction of the courts of Tunisia.</p>

						<h2>10. Severability</h2>

						<p>If any provision of these Terms is found to be invalid or unenforceable, that provision shall be deemed severable and shall not affect the validity and enforceability of the remaining provisions.</p>

						<h2>11. Entire Agreement</h2>

						<p>These Terms constitute the entire agreement between you and Bioleet regarding the use of the Service and supersede any prior agreements or understandings, whether oral or written.</p>

						<h2>12. Contact Us</h2>

						<p>If you have any questions or concerns about these Terms, please contact us at bioleet@gmail.com.</p>
					</div>
				</div>
			</div>
		</section>

		{% block footer %}
			{% include 'partials/_footer.html.twig' %}
		{% endblock %}
	</div>
{% endblock %}
