<footer class="footer bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 h-100 text-center text-lg-start my-auto">
				<ul class="list-inline mb-2">
					<li class="list-inline-item">
						<a class="text-decoration-none text-orange" href="#contact">Contact</a>
					</li>
				</ul>
				<p class="text-muted small mb-4 mb-lg-0">&copy; BioLeet 2023. All Rights Reserved.</p>
			</div>
			<div class="col-lg-6 h-100 text-center text-lg-end my-auto">
				<ul class="list-inline mb-0">
					<li class="list-inline-item me-4">
						<a href="https://www.facebook.com/bioleetcom" target="_blank">
							<i class="fa-brands fa-facebook-f fs-3 text-orange"></i>
						</a>
					</li>
					<li class="list-inline-item me-4">
						<a href="https://www.twitter.com/bioleetcom" target="_blank">
							<i class="fa-brands fa-twitter fs-3 text-orange"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://discord.gg/qssuusq76z" target="_blank">
							<i class="fa-brands fa-discord fs-3 text-orange"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
