body {
  font-family: Play, sans-serif, cursive;
}
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
  background-color: transparent !important;
}

.imagebottom {
  position: relative;
}

.icontop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-option[aria-selected="true"] {
  color: rgba(0, 139, 139, 0.7);
}

a, a:active, a:focus {
  color: #fff;
  text-decoration: none;
}

.text-orange {
  color: #ff712a;
}

.btn.btn-orange {
  color: #fff;
  background-color: #ff712a;
}

.btn.btn-orange:hover,
.btn.btn-orange:focus {
  color: #fff;
  background-color: transparent;
  border-color: #ff712a;
}

.btn.btn-orange:active {
  color: #ff712a;
  background-color: transparent;
  border-color: #ff712a;
}

.bg-orange {
  background-color: #ff712a;
}

.btn.btn-outline-orange {
  color: #fff;
  background-color: transparent;
  border-color: #ff712a;
}

.btn.btn-outline-orange:hover,
.btn.btn-outline-orange:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn.btn-outline-orange:active {
  color: #ff712a;
  background-color: transparent;
  border-color: #fff;
}


footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.fixed-height {
  height: 100px; /* Adjust the height value as per your requirement */
}