body {
  font-family: Play, sans-serif, cursive;
}
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
  background-color: transparent !important;
}

.imagebottom {
  position: relative;
}

.icontop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-option[aria-selected="true"] {
  color: rgba(0, 139, 139, 0.7);
}
