.btn-light {
    --bs-btn-bg: none;
    --bs-btn-hover-bg: none;
    --bs-btn-active-bg: none;
    --bs-btn-border-color: none;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: initial;
}

.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*=col-] {
    display: block;
}