.text-orange {
    color: #ff712a;
  }
  
  .btn-orange {
    background-color: #ff712a;
  }
  
  .bg-orange {
    background-color: #ff712a;
  }
  
  .btn-outline-orange {
    color: #fff;
    background-color: null;
    border-color: #ff712a;
  }
  
  .btn-outline-orange:active {
    color: #000;
    background-color: #ff712a;
  }
  
  footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  
  .list-inline-item {
    display: inline-block;
  }
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .text-lg-end {
    text-align: right !important;
  }
  
  .feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
  }
  